name: TSA提醒

on:
  schedule:
    # 每天 8:00 AM UTC-时间，GitHub 默认是 UTC
    - cron: "0 0 * * *"  
  workflow_dispatch:  # 支持手动触发测试

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - run: pip install requests pandas numpy scikit-learn xgboost prophet holidays
    - run: python tsa_trading_system.py
