name: TSA Trading

on:
  schedule:
    - cron: "0 8 * * *"

jobs:
  run:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: 3.9
        
    - run: pip install requests pandas numpy scikit-learn holidays
    - run: python tsa_trading_system.py
